%main.container.general-main-wrap
  %h1.general-title-margin= t('checkout')
  = render 'steps'
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle= t('shipping_address')
      = render 'checkout/addresses_short',  address: @addresses.shipping
    .col-sm-3
      %h3.general-subtitle= t('billing_address')
      = render 'checkout/addresses_short',  address: @addresses.shipping
    .col-sm-3
      %h3.general-subtitle= t('shipments')
      %p.general-address
        = current_order.shipping_method.name
        = link_to  t('edit'), wizard_path(:delivery), class: 'general-edit clickable-step'
        %br
        = t ('max_days') +' ' + current_order.shipping_method.max_days.to_s
    .col-sm-3
      %h3.general-subtitle= t('payment_information')
      %p.general-address
        = secret_card_number
        %span.general-edit edit
        %br
        = current_order.credit_card.mm_yy
  = render 'checkout/list_of_items'
  .text-center.general-text-right
    %p.in-gold-500.font-18= t('summary')
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'shared/checkout_summary_numbers', current_order: current_order
  .text-center
    = button_to t('place_order'), wizard_path, method: :put, class: 'btn btn-default mb-20'
