<!DOCTYPE html>
<html>
<head>
  <title>Shopping cart</title>
  <%= stylesheet_link_tag    "shopping_cart/application", media: "all" %>
  <%= javascript_include_tag "shopping_cart/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
